li{
    font-size: 20px;
}


.portfolio{
    font-family: 'Libre Baskerville', serif;;

}

/* .text-center{
margin-left: 400px;
} */


@media only screen and (max-width: 600px) {
    li{
     font-size: 8px;
    }
  }
