/* .App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
} */
.wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  /* margin-top: 20px; */
  overflow: auto;
  width: 100%;
}

.Education{
  box-shadow: 0px 1px 0px 2px rgb(255, 193, 7);
}

@media only screen and (max-width: 600px) {
  .resp{
    margin-top: 100px;
  }
}